.header__top { 
    display: flex;
    justify-content: flex-end;
    background-color: var(--black);
    border-bottom: 1px solid var(--white);
    color: var(--white400);

    a {
        margin: 10px 20px 10px 10px;
    }
}

.header__logo {
    width: 500px;
    height: 180px;
    background-color: var(--black100);

    a {
        display: flex;

        .logo__img {
            width: 100px;
            height: auto;
            margin: 20px 20px 20px 40px;
        }
        .logo__text {
            width: 340px;
            font-weight: 700;

            .text__first {
                margin: 30px 30px 30px 30px;

                font-size: 1.6rem;
            }
            .text_second {
                margin: 26px 24px 26px 30px;
                font-size: 2.0rem;
            }
        }
    }
}

.header__menu {
    border-left: 1px solid var(--white);
}

